<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Highlights - Get the Latest News from around the globe</title>
</head>

<body>
{% extends 'base.html'%}
    {%block content%}
    <div class="card-header">
        <h2>Browse News Sources</h2>
    </div>
        <div class="list-group">
        <ul>
            {% for source in sources %}
            <a href="/article/{{source.id}}"><p class="text-capitalize text-muted">{{source.id}}</p></a>
            {% endfor %}
        </ul>
    </div>
</body>
    {%endblock%}
</html>